@charset "utf-8";

/*=================================
			General
==================================*/

* {
	margin:0;
	padding:0;
}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	font-size:0;
	height:0;
	visibility:hidden;
}
ul li {
	list-style-type:none;
}

body {
    padding: 10px;
    font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: rgb(56, 117, 197);
} 

@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

#dashboard {
    width: 700px;
    margin: 0 auto;
}

/*=================================
			Weather
==================================*/

#weather {
    width: 700px;
    margin: 0px auto;
    text-align: center;
}

i {
    color: #fff;
    font-family: weather;
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
    margin: 0;
    color: #fff;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
    margin: 0;
    padding: 0;
}

#weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    padding: 5px 10px 5px 10px;
    display: inline-block;
    border-radius: 5px;
}

#weather .currently {
    margin: 0 20px;
}

/*=================================
		Timer / Countdown
==================================*/

#timer_box {
    width: 700px;
    margin: 0px auto;
    text-align: center;
}

#add-timer, #add-countdown {
    border: #fff 2px solid;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-align: right;
    float:right;
    cursor: pointer;
}

#timer_box .timer, #timer_box .countdown {
    position: relative;
    width: 696px;
    height: 35px;
    border: 2px solid;
    border-color: white;
    margin-top: 10px;
}
.timer, .countdown {
    font-size: 20px;
    color: white;
}

.countdown .counter, .timer .counter {
    position: relative;
    float: left;
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    margin-top: 3px;
    margin-left: 5px;
    text-align: center;
}

.timer .titel, .countdown .titel {
    position: relative;
    float: left;
    width: 410px;
    height: 30px;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    margin-top: 3px;
    margin-left: 5px;
}

.timer .remove, .timer .control, .countdown .remove, .countdown .control {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    margin-top: -10px;
    line-height: 1.0em;
    cursor: pointer;
}

.timer .remove, .countdown .remove {
    right: 10px;
}

.timer .control, .countdown .control {
    right: 46px;
    background: url('../img/play.png');
    background-size: cover;
}

@keyframes blink { 
    0% {border-color: white; }
    100% { border-color: red; }
 }

 .popup {
     position: absolute;
     left: 420px;
     height: 20px;
     width: 130px;
     background-color: rgb(223, 223, 223);
     color: rgb(56, 117, 197);
     line-height: 1.1em;
     z-index: 10;
     border-radius: 5px;
     padding: 5px;
     margin-top: -55px;
     display: none;
 }